body{
    background-image: url("/portfolio2/images/new.jpg");
    
}
.top-nav{
    margin-top: -6px;
    border: 2px solid black;
    padding: 10px;
    background-color:rgba(129, 136, 178, 0.635);
    margin-left: -3px;

}
.subClass:hover{
   font-size: 25px;
}

a {
    border: 0px black solid;
    margin-top: 5px;
    padding : 5px;
    text-decoration: none;
    color: white;
    width: 100px;
    
    
}

.header-container{
    display: flex;
}
.name{
   
    flex: 1;
    color: aqua;

}
.image{
   
    flex: 1;
}
.educationin{
    display: flex;
    width: 100%;
}
.education1{
    flex: 1;
}
.education2{
    flex: 1;
}
.education3{
    flex: 1;
}
.workexp{
    display: flex;
    width: 100%;
}
.workleft{
    flex: 1;
}
.workright{
    flex: 4;
}
.workright p{
    padding-right: 40px;
}


.reference{
    padding-top: 20px;
    padding-left: 40px;
}
.reference p{
    padding-left: 20px;
    margin-bottom: -10px;
}

.details{
    flex: 5;
    background-color: rgba(173, 173, 173, 0.153)
}
.contacts p {
    margin-top: 8px;
    padding-left: 40px;
}
.extra p{
    padding-left: 100px;
}