body{
    background-image: url(/portfolio2/images/new.jpg);
}
.top-nav{
    
    
    margin-top: -360px;
    border: 2px solid black;
    padding: 10px;
    background-color:rgba(129, 136, 178, 0.635);
    margin-left: -3px;
   
}
a {
    border: 0px black solid;
    margin-top: 5px;
    padding : 5px;
   
    text-decoration: none;
    color: white;
}
.container{
    display: flex;
    
}
.image{
    flex: 2;
}
.skills{
    flex: 1;
    color: aqua;
}
.c,.java,.html,.react,.python,.cpp{
    margin: 40px;
    border: 0px solid black;
}
.subClass:hover{
    font-size: 25px;
 }
 progress:hover{
   font-size: 20px;
 }
 
 
    
